node-red/flows.json
[
    {
        "id": "6b51fa8c90e6cc45",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfaefd3223cfad89",
        "type": "mqtt in",
        "z": "6b51fa8c90e6cc45",
        "name": "",
        "topic": "v3/lora-lab@ucuenca/devices/+/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4feb4bdc88438f5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c409f74b90be9544"
            ]
        ]
    },
    {
        "id": "4c9d178b3aa6c472",
        "type": "ui_gauge",
        "z": "6b51fa8c90e6cc45",
        "name": "",
        "group": "e9d2f32bc713d405",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "756e293768029a81",
        "type": "ui_gauge",
        "z": "6b51fa8c90e6cc45",
        "name": "",
        "group": "e9d2f32bc713d405",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "6405498b5af710bd",
        "type": "function",
        "z": "6b51fa8c90e6cc45",
        "name": "function 1",
        "func": "const data = msg.payload.uplink_message.decoded_payload;\n\nif (data && data.temperatura_c !== undefined) {\n    msg.payload = data.temperatura_c;\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "4c9d178b3aa6c472"
            ]
        ]
    },
    {
        "id": "c409f74b90be9544",
        "type": "switch",
        "z": "6b51fa8c90e6cc45",
        "name": "",
        "property": "payload.end_device_ids.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodo-1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nodo2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "6405498b5af710bd"
            ],
            [
                "645d32b00e783cb4"
            ]
        ]
    },
    {
        "id": "645d32b00e783cb4",
        "type": "function",
        "z": "6b51fa8c90e6cc45",
        "name": "function 2",
        "func": "\nconst data = msg.payload.uplink_message.decoded_payload;\n\nif (data && data.humedad_pct !== undefined) {\n    msg.payload = data.humedad_pct;\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 260,
        "wires": [
            [
                "756e293768029a81"
            ]
        ]
    },
    {
        "id": "4feb4bdc88438f5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nam1.cloud.thethings.industries",
        "port": "8883",
        "tls": "67c24e26687c8e40",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e9d2f32bc713d405",
        "type": "ui_group",
        "name": "LoRa Lab",
        "tab": "ccbf0a7ed3e75239",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "67c24e26687c8e40",
        "type": "tls-config",
        "name": "tts-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "nam1.cloud.thethings.industries",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "ccbf0a7ed3e75239",
        "type": "ui_tab",
        "name": "LoRa Lab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "554519ad04c0f88e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]